.App {
  text-align: center;
  margin: auto;
  /* margin-top: 20px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 5px; */
}

/* .RPOBTN {
  backgroundColor: rgb(56, 250, 185);
  border: none;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 70%;
  color: white;
  font-size: medium;
} */
